<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/nouislider.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/chart.css">
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/materialize/dist/js/materialize.js"></script>
    <script src="../bower_components/wnumb/wNumb.js"></script>
    <script src="/javascript/nouislider.js"></script>

    <title>Government</title>

    <script type="text/javascript">
       $(document).ready(function() {
        $('select').material_select();
        });
    </script>
  </head>
  <body>

    <div class="row">
      <div class="col s4 m3 l3 options">
        <h5>Campaign Name<br><span class="close"><a href="/">X</a></span><span class="dark-blue-text">Private</span></h5>
        <div class="location">
          <p>Location</p>
          <p class="places">
            <form action="#">
            <div class="row">  
                          <p class="col m6">
                            <input type="checkbox" id="bangalore" />
                            <label for="bangalore">Bangalore</label>
                          </p>
                          <p class="col m6">
                            <input type="checkbox" id="chennai" />
                            <label for="chennai">Chennai</label>
                          </p>
                          <p class="col m6">
                            <input type="checkbox" id="delhi" />
                            <label for="delhi">Delhi</label>
                          </p>
                          <p class="col m6">
                            <input type="checkbox" id="mumbai" />
                            <label for="mumbai">Mumbai</label>
                          </p>    </div>
            </form>
          </p>

        </div>

        <div class="age">
          <p>Age</p>
          <div id="age-range"></div>
          <div class="row"><input type="text" class="col s2" name="" id="initial_age" style="color: white"><div class="col s8"></div><input type="text" class="col s2" name="" id="final_age" style="color: white"></div>
        </div>
        <div class="income">
          <p>Price</p>
          <div id="income-range"></div>
          <div class="row"><input type="text" id="purchase_initial" class="col s2" name="" style="color: white"><div class="col s8"></div><input type="text" class="col s2" name="" id="purchase_final" style="color: white"></div>
        </div>
        <div class="sex">
              <div class="input-field col s12">
                <select>
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                  <option value="3">Both</option>
              </select>
      </div>
        </div>
        <button class="submit-black">Build</button>
      </div>
    </div>
  </body>
  <script>
    var slider = document.getElementById('age-range');
    noUiSlider.create(slider, {
      start: [20, 80],
      connect: true,
      range: {
        'min': 0,
        'max': 100
      },
      format: wNumb({
     decimals: 0, // default is 2
        thousand: '.'
   }) 
    });
    var slider2 = document.getElementById('income-range');
    noUiSlider.create(slider2, {
      start: [0, 10000],
      connect: true,
      range: {
        'min': 0,
        'max': 10000
      },
      format: wNumb({
     
     decimals: 0,
     thousand: '.'
   })
    });

    var input=document.getElementById('initial_age');
      slider.noUiSlider.on('update',function(values,handle){
        var sliderval=slider.noUiSlider.get();
        input.value=sliderval[0];
      });

      input.addEventListener('change',function(){
        slider.noUiSlider.set([this.value,null]);
      });

      var input2=document.getElementById('final_age');
      slider.noUiSlider.on('update',function(values,handle){
        var sliderval=slider.noUiSlider.get();
        input2.value=sliderval[1];
      });

      input2.addEventListener('change',function(){
        slider.noUiSlider.set([null,this.value]);
      });

      var input3=document.getElementById('purchase_initial');
      slider2.noUiSlider.on('update',function(){
        var sliderval=slider2.noUiSlider.get();
        input3.value=sliderval[0];
      });

    //Purchasing power slider linking
    //End of Purchasing power slider linking

      input3.addEventListener('change',function(){
        slider2.noUiSlider.set([this.value,null]);
      });

      var input4=document.getElementById('purchase_final');
      slider2.noUiSlider.on('update',function(){
        var sliderval=slider2.noUiSlider.get();
        input4.value=sliderval[1];
      });

      input4.addEventListener('change',function(){
        slider2.noUiSlider.set([null,this.value]);
      });
  </script>
</html>
