<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css">
    <link rel="stylesheet" href="/stylesheets/nouislider.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/form.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.js"></script>
    <script src="../bower_components/wnumb/wNumb.js"></script>
    <script src="/javascript/nouislider.js"></script>
  </head>
  <body>
    <div class="row">
      <form action="/pvt/addProduct" method="POST">
        <div class="col s4 m4 l4 options">
          <h5 style="border-bottom: 1px solid rgba(255,255,255,0.5);">New Campaign<br><span class="close"><a href="/">X</a></span><span class="dark-blue-text"><%if(govt){%>Government<%} else{%>Private<%}%></span></h5>
          <input type="text" name="name" id="name" placeholder="Campaign Name" style="font-size: 20px;max-width: 30vw;margin-left: 5%;min-height: 50px">
          <button class="submit-black">Build</button>
        </div>
        <div class="col s4 m4 l4 second">
          <div class="location">
            <p style="font-size: 26px;color: white">Location</p>
            <p class="places">
              Bangalore, Chennai, Mumbai, Delhi
            </p>
          </div>
          <div class="age">
            <p>Age</p>
            <div id="age-range"></div>
            <div class="row"><input type="text" class="col s2" name="" id="initial_age"><div class="col s8"></div><input type="text" class="col s2" name="" id="final_age"></div>
          </div>
          <div class="income">
            <p><%if(govt){%>Income<%} else{%>Purchasing Power<%}%></p>
            <div id="income-range"></div>
            <div class="row"><input type="text" id="purchase_initial" class="col s2" name=""><div class="col s8"></div><input type="text" class="col s2" name="" id="purchase_final"></div>
          </div>
          <div class="sex">
            <ul class="sex-select">
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col s4 m4 l4 image">
          <img src="/images/Logo.png">
        </div>
      </div>
      </form>
    <script>
    $(document).ready(function(){

      var govt = $('.dark-blue-text').html()=="Government";
      if(govt){
        $('form').attr('action','/govt/addProduct');
      } else{
        $('form').attr('action','/pvt/addProduct');
      }
      var slider = document.getElementById('age-range');
      noUiSlider.create(slider, {
        start: [20, 80],
        connect: true,
        range: {
          'min': 0,
          'max': 100
        },
        format: wNumb({
       decimals: 0, // default is 2
          thousand: '.'
     })
      });
      var slider2 = document.getElementById('income-range');
      noUiSlider.create(slider2, {
        start: [0, 10000],
        connect: true,
        range: {
          'min': 0,
          'max': 10000
        },
        format: wNumb({

       decimals: 0,
       thousand: '.'
     })
      });
    });

  //Age slider linking to the text boxes
  var input=document.getElementById('initial_age');
  slider.noUiSlider.on('update',function(values,handle){
    var sliderval=slider.noUiSlider.get();
    input.value=sliderval[0];
  });  
    
  input.addEventListener('change',function(){
    slider.noUiSlider.set([this.value,null]);
  });
     
  var input2=document.getElementById('final_age');
  slider.noUiSlider.on('update',function(values,handle){
    var sliderval=slider.noUiSlider.get();
    input2.value=sliderval[1];
  });

  input2.addEventListener('change',function(){
    slider.noUiSlider.set([null,this.value]);
  });
  //End of age slider linking

  //Purchasing power slider linking
  var input3=document.getElementById('purchase_initial');
  slider2.noUiSlider.on('update',function(){
    var sliderval=slider2.noUiSlider.get();
    input3.value=sliderval[0];
  });

  input3.addEventListener('change',function(){
    slider2.noUiSlider.set([this.value,null]);
  });

  var input4=document.getElementById('purchase_final');
  slider2.noUiSlider.on('update',function(){
    var sliderval=slider2.noUiSlider.get();
    input4.value=sliderval[1];
  });

  input4.addEventListener('change',function(){
    slider2.noUiSlider.set([null,this.value]);
  });
  //End of Purchasing power slider linking
  </script>
  </body>
</html>
