<!DOCTYPE html>
<html>
	<head>

	<title>Centrix</title>
		<!--Link to Google Fonts-->
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

		<!--Import materialize.css-->
		<link type="text/css" rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css"  media="screen,projection"/>

		<!--Font Awesome-->
		<link rel="stylesheet" type="text/css" href="bower_components/font-awesome/css/font-awesome.min.css">

		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
		<!--Import jQuery before materialize.js-->
		<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    	<script type="text/javascript" src="bower_components/materialize/dist/js/materialize.min.js"></script>

    	<!--WOW.js and Animate.css-->
    	<link rel="stylesheet" type="text/css" href="bower_components/wow/css/libs/animate.css">
    	<script type="text/javascript" src="bower_components/wow/dist/wow.js"></script>
    	<script type="text/javascript">
    		new WOW().init();
    	</script>
	</head>

	<body>
		<!-- Navigation starts here -->
			<nav class="custom-blue-background">
			<div class="nav-wrapper">
		<a href="#!" class="brand-logo"><i class="fa fa-bar-chart"></i></a>


		</nav>
		<!--Navigation ends here-->


		<!-- Header-->



		<div class="row header">
				<header class="custom-blue-background row">
					<div class="row header-text-box center col s12">
						<div class="row first-row-in-header"><h3 class="white-text col s6 push-s2 left-align">LOREM IPSUM DOLOR</h3></div>
						<div class="row second-row-in-header"><h5 class="white-text col s6 push-s2 left-align">SIT AMET LOREM IPSUM</h5></div>

						<div class="col s12 button-row-in-header"><br><br><button class="btn white blue-text col s2 push-s2" id="modal-trigger">Get Started</button></div>
					</div>
				</header>
				</div>
		<!-- End of Header-->

		<!--Content-->
		<div class="container main-content">
			<div class="row">
				<h5 class="col s12 center">How it works?</h5>
				<div class="col m8 home-halfs wow fadeInLeft">
					<img src="images/compose.png" class="col s3"><div class="col s7 left-align written-content">Enter brief data about your product on our website</div>
				</div>
				<div class="col m4 home-halfs">

				</div>

				<div class="col m4 home-halfs">

				</div>
				<div class="col m8 home-halfs wow fadeInRight">
					<div class="col s8 right-align written-content">Let us analyze your data</div><img src="images/server.png" class="col s3">
				</div>
				<div class="col m8 home-halfs wow fadeInLeft">
					<img src="images/presentation.png" class="col s3"><div class="col s8 left-align written-content">We'll present you all the infographics that you need to prepare your marketing stragety</div>
				</div>
				<div class="col m4 home-halfs">

				</div>
			</div>
		</div>
		
		<!--End of content-->

		<div id="modal1" class="modal">
    	<div class="modal-content row">
				<div class="left col s6 m6 l6">
					<h5>Government</h5>
					<img src="images/government.png" class="center">
					<div class="button-row-in-header">
						<button class="btn white blue-text"><a href="/addNew?govt=true">Begin</a></button>
					</div>
				</div>
				<div class="right col s6 m6 l6">
					<h5>Private</h5>
					<img src="images/private2.png" class="center">
					<div class="button-row-in-header">
						<button class="btn white blue-text" href="addNew?govt=false"><a href="/addNew?govt=false">Begin</a></button>
					</div>
				</div>
    	</div>
  	</div>
  		<div class="row bottom-graph">
			<div class="col s12 bottom-graph-container">
				<img src="images/bottom.png">
			</div>
		</div>
		<!-- Footer-->
		<footer class="page-footer">

			<div class="container footer-content">

					© 2015 Copyright Text
					<a class="grey-text text-lighten-4 right" href="#!">Contact</a>
					<a class="grey-text text-lighten-4 right" href="#!">Legal Information</a>
					<a class="grey-text text-lighten-4 right" href="#!">Terms of Service</a>
					<a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
			</div>

		</footer>
		<script>
			$('#modal-trigger').click(function(){
				$('#modal1').openModal();
			});
		</script>
		<!-- End of footer-->
	</body>
</html>
