*{
  font-family: 'Montserrat';
}
.options{
  overflow: hidden;
  position: fixed;
  left: 0px;
  top: 0px;
}

a{
  color: white;
  position: relative;
  left: 27vw;
  bottom: 2.2vw;
}
.location *{
  border: none!important;
}
.options{
  background: #2B2A2A;
  min-height: 100vh!important;
  padding: 0px!important;
  margin:0 !important;
}
.options h5{
  margin: 0%;
  padding: 5%;
  background: #5690cf;
  font-weight: 300;
  color: white;
  font-size: 18px;
}
.dark-blue-text{
  color: rgba(0,0,0,0.5);
  font-size: 12px;
  margin-left: -4%;
}
.location, .age, .income, .sex{
  padding: 5%;
  margin-top: -6%;
  padding-left: 6%;
  padding-bottom: 0%;

  border-bottom: 1px solid rgba(255,255,255,0.4);
  color: #fff;
}
.location{
  border:none;
}
option{
  background: #000;
}

.select-dropdown li{
  color: #fff;
}

.age{
  margin-top: -10%;
}
.age, .income{
  padding-bottom: 0%;
}
.places{
  position: relative;
  color: white;
  font-size: 14px;
  margin-top: -5%;
  cursor: pointer;
  padding: 0;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}

.places-popout .input{
  visibility: inherit;
}

.visible{
  visibility: visible;
  left: 106%;
  transition: all 0.1s;
}

.age p, .income p, .location p{
  padding: 3%;
  padding-top: 0%;
  padding-bottom: 0%;
  color: white;
  font-size: 16px;
}
.submit-black{
  border: 3px solid white;
  color: white;
  background: #2b2a2a;
  font-size: 20px;
  padding: 1% 10%;
  min-width: 90%;
  margin-left: 5%;
  margin-top: 2%;
}
.submit-black:focus{
  background: #2b2a2a!important;
}

*
{
  font-size: 96.5% !important;
}
