body{
	font-family: Montserrat;
}
.custom-blue-background{
	background: rgb(86,144,207);
}

/*Header and Nav starts here*/

svg{
	opacity: 0;
}
.brand-logo{
	margin-top: 30px; margin-left: 50px;
}

.brand-logo .fa{
	font-size: 50px;
}

header{
	 height: 100vh; padding: 0px;
}

.header-text-box{
	position: absolute; top: 40%; width: 100%; font-size: 28px;
}

.header-text-box input{
	background: #fff;
}

.header-text-box button{
	font-size: 18px; border-radius: 50px 50px 50px 50px; box-shadow: 2px 2px 1px 0 #6a6a6a; position: relative; top: -70px;
}

.first-row-in-header{
	font-weight: 700;
}

.second-row-in-header{
	position: relative;
	top: -40px;
}

.button-row-in-header{
	position: relative;
	top: -30px;
	font-size: 0.5em;
}
/*Header and Nav ends here*/

/*Content of the Home screen starts here*/
.main-content{
	min-height: 100vh;
}

.home-halfs{
	padding: 100px; height: 150px; padding: 50px !important; text-align: center;
}

.home-halfs .fa{
	font-size: 64px;
}

.written-content{
	margin: auto; margin: 5px;
}

/*Content of the home screen ends here*/

/*Footer starts here*/
footer.page-footer{
	background: rgb(46,45,45);
}
.footer-content{
	padding-bottom: 20px; color: #fff;
}

footer a{
	margin-left: 10px; cursor: pointer;
}

#modal1{
	background: #5690cf;
}
#modal1 h5{
	font-size: 20px;
	color: white;
	text-align: center;
}
#modal1 img{
	width: 80%;
	margin-left: 10%;
}
#modal1 img:hover{
	border: 5px solid white;
	border-radius: 50%;
	transition: 0.3s;
}
#modal1 .left{
	border-right: 2px solid white;
}
#modal1 .button-row-in-header button{
	font-size: 18px;
	border-radius: 50px 50px 50px 50px;
	box-shadow: 2px 2px 1px 0 #6a6a6a;
	margin-top: 10%;
	margin-left: 30%;
}
