body{
	font-family: Montserrat;
}
.custom-blue-background{
	background: rgb(86,144,207);
}

/*Header and Nav starts here*/
.brand-logo{
	margin-top: 30px; margin-left: 50px;
}

.brand-logo .fa{
	font-size: 50px;
}

header{
	 height: 100vh; padding: 0px;
}

.header-text-box{
	position: absolute; top: 40%; width: 100%; font-size: 28px;
}

.header-text-box input{
	background: #fff; 
}

.header-text-box button{
	font-size: 18px; border-radius: 50px 50px 50px 50px; box-shadow: 2px 2px 1px 0 #6a6a6a; position: relative; top: -70px;
}

.first-row-in-header{
	font-weight: 700;
}

.second-row-in-header{
	position: relative;
	top: -40px;
}

.button-row-in-header{
	position: relative;
	top: -40px;
}
/*Header and Nav ends here*/

/*Content of the Home screen starts here*/
.main-content{
	min-height: 100vh;
}

.home-halfs{
	padding: 100px; height: 150px; padding: 50px !important; text-align: center;
}

.home-halfs .fa{
	font-size: 64px;
}

.written-content{
	margin: auto; margin: 5px;
}

/*Content of the home screen ends here*/

/*Footer starts here*/
footer.page-footer{
	background: rgb(46,45,45);
}
.footer-content{
	padding-bottom: 20px; color: #fff;
}

footer a{
	margin-left: 10px; cursor: pointer;
}

