body{
	font-family: Montserrat;
}
.custom-blue-background{
	background: rgb(86,144,207);
}

/*Header and Nav starts here*/
.brand-logo{
	margin-top: 30px; 
}

.brand-logo .fa{
	font-size: 50px;
}

header{
	 height: 100vh; padding: 0px;
}

.header-text-box{
	position: absolute; top: 20%; width: 100%;
}

.header-text-box input{
	background: #fff; border-radius: 50px 50px 50px 50px; box-shadow: 2px 2px 1px 0 #6a6a6a;
}

/*Header and Nav ends here*/

/*Content of the Home screen starts here*/
.home-halfs{
	padding: 100px; height: 150px; padding: 50px !important; text-align: center;
}

.home-halfs .fa{
	font-size: 64px;
}

/*Content of the home screen ends here*/

